@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

body {
    font-family: 'Anonymous Pro', monospace;
    font-size: 14px;
    color: $gray;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
    font-style: italic;
}

a, a:hover {
    text-decoration: none;
}

.light {
    background: $beige;
    box-shadow: 3px 3px 2px #333;

    a, a:hover {
        color: $blue;
    }

    h1, h2, h3 {
        color: $orange;
    }
    
}

.dark {
    background: $darker-gray;
    box-shadow: 3px 3px 2px #333;
    color: $lightest-gray;

    a, a:hover {
        color: $pale-blue;
    }

    h1, h2, h3 {
        color: $pale-orange;
    }
}

a.btn, button.btn {
    $lighten-amount: 2;

    &, &:link, &:visited, &:hover, &:active {
        color: $gray;
        background: $beige;
        padding: 16px;
        text-decoration: none;

        &:hover{
            background: lighten($color: $beige, $amount: $lighten-amount);
            text-decoration: underline;
        }

        &.dark {
            color: $lightest-gray;
            background: $darker-gray;

            &:hover {
                background: lighten($color: $darker-gray, $amount: $lighten-amount);
                color: lighten($color: $lightest-gray, $amount: $lighten-amount);
            }
        }
    }
}